* {
    font-family: 'Itim', sans-serif;
}

body {
    // background-color: rgb(102, 79, 165);
    background-repeat: no-repeat; 
    background-size: 100%;
    background: linear-gradient(45deg, rgb(45, 28, 92), rgb(25, 28, 80));
    overflow: hidden;
    height: 100vh;
}

.form-holder { 
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px; 
}

.input-holder { 
    position:relative;
    
}

.form-holder input[type=search] {
    padding: 5px;
    font-size: 25px;
    text-align: center;
}

ul#search-results {
    
    list-style: none;
    padding: 0px;
    margin: 0px;
    top: 100%;
    left: 0px;
    width: 100%;
    li {
        transform-style: preserve-3d;
        perspective: 115px;
        display: block;
        margin-top:-2px;
        span {
            height: 105%;
            display: block;
            padding: 15px;
            transform: rotateX(15deg);
            text-align: center;
            background-color: #fff;
            background: linear-gradient(0deg, #ddd, #fff);
            box-shadow: 3 3px 0px rgba(0,0,0,0.5);
            cursor: pointer; 
            transition: color 250ms ease;
        }
        &:nth-child(2n) {
            margin-top:0px;
            
            span {
                transform: rotateX(-15deg);
                background-color: #eee;
                margin-bottom: -3px;
                // background: linear-gradient(180deg, #ddd, #fff);
            }
        }
        &:hover span {
            color: #f00;
        }
    }
}